name: ci.yml
on:
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: python
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Install uv
        uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Install tox
        run: uv tool install --python-preference only-managed --python 3.14 tox --with tox-uv

      - name: Format check
        run: tox -e format-check

      - name: Mypy
        run: tox -e type

      - name: test
        run: tox -e 3.14
