name: ci.yml
on:
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: python
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Install tox
        run: uv tool install --python-preference only-managed --python 3.14 tox --with tox-uv

      - name: Format check
        run: tox -e format-check

      - name: Mypy
        run: tox -e type

      - name: test
        run: tox -e 3.14
